<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Spring Security - Oauth</title>    
</head>
<body>

    <main role="main" class="container">
        <h1 class="mt-5">Autenticación oauth</h1>
        <p class="lead">You are successfully logged con id <span sec:authentication="name"></span></p>
        <p class="lead">Su nombre token es <span th:text="${token}"></span></p>
       
    </main>
</div>
</body>
</html>